


<p> <%= @liga.inspect %></p>
<p> <%= @respuesta %></p>
<object data="<%= @liga %>" width="600" height="400">     
<embed wmode="transparent" src="<%= @liga %>" width="600" height="400" /> Error: Embedded data could not be displayed. </object>

